@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/mixins';

nav {
  display: inline;
  ul {
    display: inline;
    li {
      display: inline;
      margin-left: 3%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        font-weight: bold;
      }
      .navbar_link {
        text-decoration: none;
        color: $black;
      }
      .navbar_link--active {
        color: $red;
        font-weight: bold;
      }
    }
  }
}

@media only screen and(min-width:650px) {
  nav {
    display: block;
  }
}


@media only screen and(min-width:1250px) {
  nav {
    grid-column: 2/-1;
    grid-row: 1/-1;
    margin-top: 1%;
    display: inline;
    ul {
      li {
        margin-left: 7%;
        font-size: 1.7em;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
@media only screen and(max-width:1000px) {
  nav {
    ul {
      margin-bottom: 2%;
    }
  }
}
