@import '../../../globalStyles/variables';
@import '../../../globalStyles/mixins';

header {
  padding: 2%;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 10;
  width: 100vw;
  img {
    transition: ease-in-out 0.4s;
    width: 50%;
    &:hover {
      opacity: 0.5;
    }
  }
}


@media only screen and(min-width:1250px) {
  header {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    h1 {
      grid-column: 1/2;
      grid-row: 1/-1;
    }
  }
}